/* CSS declarations go here */


#robot-message {
	margin: 0 auto;
	margin-top: 100px;
	height: 200px;
	width: 600px;
	padding: 12px;
	overflow-y: scroll;
	background-color: rgba(0,0,0,0.8);
	border: 1px solid black;
	-webkit-box-shadow: 11px 11px 49px -3px rgba(0,0,0,0.75);
	-moz-box-shadow: 11px 11px 49px -3px rgba(0,0,0,0.75);
	box-shadow: 11px 11px 49px -3px rgba(0,0,0,0.75);
}

.darth-plagueis-story {
	color: white;
	display: inline;
	font-size: 16px;
	font-family: monospace;
}

.typed-cursor {
	font-size: 25px;
	line-height: 10px;
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink {
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink {
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink {
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.typed-fade-out{
    opacity: 0;
    animation: 0;
    transition: opacity .25s;
}
