#webdev,
#mobiledevelopment,
#devops {
	margin: 0 auto;
	max-width: 880px;
	display: flex;
}

.project-showcase {
	max-width: 100%;
	font-size: 15px;
	padding-top: 30px;
}

/*.project-title {
    margin-left: 65px;
    margin-top: 0;
    padding-top: 30px;
}*/

.project-description {
    padding-bottom: 25px;
}


#projectboxes {
	display: block;
	float: left;
}

#projectboxes li {
	display: inline-block;
	float: left;
	width: 200px;
	height: 200px;
	text-align: center;
	overflow: hidden;
}

#projectboxes img {
	width: 200px;
	height: auto;
}

.projectbox-top {
	position: relative;
	top: 0;
	transition: all 0.4s;
	width: 200px;
	height: 200px;
	padding-top: 75px;
	background-color: rgb(225, 225, 225);
	color: black;
}

.projectbox-bottom {
	height: 200px;
	width: 200px;
	padding-top: 35px;
	background-color: red;
	color: white;
	position: relative;
	top: 0px;
	transition: all 0.4s;
	z-index: 1;
}

#projectboxes li:hover > .projectbox-top,
#projectboxes li:hover > .projectbox-bottom {
	top: -200px;
}

 .tool-indicator {
	 background-color: white;
	 color: black;
	 padding: 2px 6px 2px 6px;
	 margin-right: 1px;
	 border-radius: 10px;
	 line-height: 23px;
 }

 .tool-indicator2 {
	 background-color: red;
	 color: white;
	 padding: 3px 7px 3px 7px;
	 border-radius: 10px;
	 line-height: 25px;
 }

 .project-demo img {
     width: 400px;
 	height: auto;
 }

.project-description-meta li {
    line-height: 27px;
}

.project-samples {
    padding-bottom: 25px;
}

.backbutton {
    position: relative;
    top: 15px;
    left: -25px;
}

.backbutton a {
    text-decoration: none;
    color: black;
    padding: 3px 7px 3px 7px;

}

.backbutton a:hover {
    text-decoration: none;
    color: black;
    padding: 3px 7px 3px 7px;
    background-color: rgb(230, 230, 230);
    border-radius: 10px;
}

.project-demo {
	padding: 25px;
	width: 660px;
}



.screenshots {
    width: 400px;
    height: auto;
}

.gif {
    width: 200px;
    height: auto;
}

.project-samples-item li {
	display: inline-block;
	width: 200px;
	height: 200px;
	text-align: center;
	overflow: hidden;
}

.project-samples-cover {
	position: relative;
	top: 0;
	width: 200px;
	height: 200px;
	padding-top: 75px;
	background-color: rgba(225, 225, 225, 0.98);
	color: black;
    z-index: 1;
}

.project-samples-show {
	height: 200px;
	width: 200px;
	color: white;
	position: relative;
	top: -220px;
}

.project-samples-item li:hover > .project-samples-cover {
	visibility: hidden;
}
