.project-showcase {
	padding: 30px;
	max-width: 880px;
	margin: 0 auto;
	font-size: 15px;
}

.project-demo {
	margin: 0 auto;
	max-width: 250px;
}

#projectboxes li {
	display: inline-block;
	float: left;
	width: 200px;
	height: 200px;
	background-color: teal;
	color: white;
	text-align: center;
	overflow: hidden;
}

#projectboxes img {
	width: 200px;
	height: auto;
}

.projectbox-bottom a {
	color: white;
}


.projectbox-bottom a:hover {
	color: white;
	text-decoration: none;
}


.projectbox-top {
	position: relative;
	top: 0;
	transition: all 0.4s;
}

.projectbox-bottom {
	height: 200px;
	width: 200px;
	padding-top: 75px;
	background-color: red;
	position: relative;
	top: 0px;
	transition: all 0.4s;
	z-index: 1;
}

#projectboxes li:hover > .projectbox-top,
#projectboxes li:hover > .projectbox-bottom {
	top: -200px;
}
