.resume-showcase {
	padding: 20px;
	max-width: 800px;
	margin: 0 auto;
	font-size: 15px;
}

.resume-date {
	float: right;
}

.resume-description {
	margin: 5px 0 5px 5px;
}

.resume-section {
	margin-top: 25px;
	margin-bottom: 15px;
}

#resume-experience li,
#resume-education li {
	padding: 5px 5px 5px 5px;
}

#resume-experience > li img  {
	display: none;
	float: right;
	width: 175px;
	height: auto;

	transform: perspective(300px) rotateY(-25deg);
}

#resume-experience > li {
	transition: all 0.4s;
}

#resume-experience > li:hover {
	transform: translateX(-50px) perspective(300px) rotateY(4deg);
}

#resume-experience > li:hover img {
	display: inline-block;
	position: absolute;
	animation: 1s logo-appear;
	top: 20px;
	left: 780px;
}
@keyframes logo-appear {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.resume-note1 {
    color: red;
}

.resume-note2 {
    float: right;
    font-size: 12px;
    font-family: monospace;
}
