#rss {
    padding: 100px;

    .input-form input {
        height: 20px;
        border: 1px solid rgba(0,0,0,0.1);
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        padding-left: 5px;
    }

    #input-feed {
        width: 100%;
        height: 38px;
        padding-left: 30px;
    }

    ::-webkit-input-placeholder {color: lightgrey;}
    ::-moz-placeholder {color: lightgrey;}
    :-ms-input-placeholder {color: lightgrey;}
    :-moz-placeholder {color: lightgrey;}

    #icon-magnifyingGlass {
        position: relative;
        float: left;
        top: -27px;
        left: 10px;
    }

    #hint-url {
        color: rgba(0,0,0,0.25);
    }

    #overview {
        display: none;
    }

    #articles {
        display: none;

        #content {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
    
            li {
                background-color:#F0FFFF;
                margin: 20px;
                max-width: 250px;
                padding: 25px;
                border: 1px solid rgba(0,0,0,0.3);
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                border-radius: 5px;
                -webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.7);
                -moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.7);
                box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.7);
    
                .thumbnailBox {
                    width: 150px;
                    height: 150px;
                }
    
                .titleBox {
                    padding: 6px;
                }
    
                .descriptionBox {
                    padding: 6px;
                }
                
            }
        }
    }
}

