#rss {
    #rss-section {
        padding: 50px 0 50px 0;
        width: 65%;
        margin: 0 auto;
        background-color: #FF4040;

        h1 {
            font-size: 50px;
            font-family: 'Lobster', cursive;
            color: white;
            margin-top: 0;
            text-shadow: 2px 2px rgba(0,0,0,0.5);
        }
    }
    #link {
        #input-feed {
            position: relative;
            width: 100%;
            height: 38px;
            border: 1px solid rgba(0,0,0,0.1);
            -webkit-border-radius: 2px;
            -moz-border-radius: 2px;
            border-radius: 2px;
            padding-left: 35px;
            -webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.4);
            -moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.4);
            box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.4);
        }
    
        ::-webkit-input-placeholder {color: lightgrey;}
        ::-moz-placeholder {color: lightgrey;}
        :-ms-input-placeholder {color: lightgrey;}
        :-moz-placeholder {color: lightgrey;}
    
        #icon-magnifyingGlass {
            position: absolute;
            z-index: 10;
            font-size: 17px;
            padding-top: 10px;
            padding-left: 11px;
        }

        #exampleUrls {
            color: white;
            padding-top: 5px;
            text-shadow: 1px 1px rgba(0,0,0,0.7);

            -webkit-touch-callout: none; /* iOS Safari */
            -webkit-user-select: none; /* Safari */
            -khtml-user-select: none; /* Konqueror HTML */
            -moz-user-select: none; /* Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */

            li {
                list-style-type: none;
                .examples {
                    padding: 2px 4px 3px 4px;
                    text-shadow: none;
                    font-size: 12px;
                    color: black;
                    background-color: white;
                    border-radius: 5px;
                    cursor: pointer;
                    -webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.4);
                    -moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.4);
                    box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.4);
                }
            }

        }
    }

    #result {
        display: none;
        background-color: white;

        #overview {
            h1 {
                font-family: 'Roboto Slab', serif;
                font-size: 50px;
                text-align: center;
                padding: 30px 10px 30px 10px;
                margin-top: 0;
            }

            h5 {
                width: 100%;
                margin: 0;
                color: white;
                background-color: #FF4040;
                padding: 4px 0 3px 10px;
            }

            #report {
                padding: 10px 10px 10px 10px;
            }
        }

        #articles {
            padding: 10px 0 10px 0;
            
            h5 {
                width: 100%;
                margin: 0;
                color: white;
                background-color: #FF4040;
                padding: 4px 0 3px 10px;
            }

            #sortBox {
                width: 100%;
                text-align: right;
                padding: 4px 10px 3px 0;

                #sortOptions {
                    -webkit-touch-callout: none; /* iOS Safari */
                    -webkit-user-select: none; /* Safari */
                    -khtml-user-select: none; /* Konqueror HTML */
                    -moz-user-select: none; /* Firefox */
                    -ms-user-select: none; /* Internet Explorer/Edge */
                    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
    
                    span {
                        padding: 2px;
                    }

                    #sortByDateAsc,
                    #sortByTitleAsc,
                    #sortByDescriptionAsc {
                        cursor: pointer;
                    }
    
                    #sortByDateDesc,
                    #sortByTitleDesc,
                    #sortByDescriptionDesc {
                        display: none;
                        cursor: pointer;
                    }  
                }
            }

            #content {
                padding: 0 10px 0 10px;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;

                li {
                    transition: 0.2s;
                    a {
                        text-decoration: none;
                        color: black;
                    }

                    a:hover {
                        text-decoration: none;
                        color: black;
                    }

                    position: relative;
                    background-color:#F0FFFF;
                    margin: 14px 14px 0 0;
                    max-width: 300px;
                    
                    border: 1px solid rgba(0,0,0,0.3);
                    -webkit-border-radius: 6px;
                    -moz-border-radius: 6px;
                    border-radius: 6px;
                    -webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.7);
                    -moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.7);
                    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.7);
        
                    .thumbnailBox {
                        border-top-left-radius: 5px;
                        border-top-right-radius: 5px;
                        overflow: hidden;

                        img {
                            width: 100%;
                        }

                        #fancyChar {
                            font-family: 'Lobster', cursive;
                            font-size: 150px;
                            color: #FF4040;
                            background-color: #40a0da;
                            text-align: center;
                            width: 100%;
                            height: 265px;
                            padding-top: 25px;
                            text-shadow: 2px 2px rgba(255,255,255,0.5);
                        }
                    }

                    .dateBox {
                        position: absolute;
                        width: 100%;
                        font-size: 12px;
                        text-align: right;
                        color: white;
                        padding: 3px 7px 2px 0;
                        background-color: #FF4040;
                        border-top-right-radius: 5px;
                        border-top-left-radius: 5px;
                        -webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2);
                        -moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2);
                        box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.2);
                    }
        
                    .titleBox {
                        padding: 15px 15px 0 15px;
                        font-weight: 700;

                        a {
                            color: black;
                            text-decoration: none;
                        }
                    }
        
                    .descriptionBox {
                        padding: 5px 15px 15px 15px;
                    }
                }

                li:hover {
                    transform: scale(1.01);
                    transition: 0.2s;
                }
            }
        }  
    }
}

@media only screen
and (max-width : 420px) {
    #rss {
        #rss-section {
            width: 100%;
            margin: 0 auto;
            padding-left: 10px;
            padding-right: 10px;
        }
        #result {
            #articles {
                #content {
                    li {
                        max-width: 100%;
                        margin-right: 0;
                    }
                }
            }
        }
    }
}
