#rss {
    padding: 0 5px 0 5px;

    #link {
        #input-feed {
            width: 100%;
            height: 38px;
            border: 1px solid rgba(0,0,0,0.1);
            -webkit-border-radius: 2px;
            -moz-border-radius: 2px;
            border-radius: 2px;
            padding-left: 35px;
        }
    
        ::-webkit-input-placeholder {color: lightgrey;}
        ::-moz-placeholder {color: lightgrey;}
        :-ms-input-placeholder {color: lightgrey;}
        :-moz-placeholder {color: lightgrey;}
    
        #icon-magnifyingGlass {
            position: relative;
            float: left;
            top: -26px;
            left: 12px;
        }

        #exampleUrls {
            padding-top: 5px;

            -webkit-touch-callout: none; /* iOS Safari */
            -webkit-user-select: none; /* Safari */
            -khtml-user-select: none; /* Konqueror HTML */
            -moz-user-select: none; /* Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */

            .examples {
                font-size: 12px;
                padding: 4px;
                line-height: 2;
                color: white;
                background-color: #FF4040;
                border-radius: 5px;
                cursor: pointer;
            }
        }
    }

    #result {
        display: none;

        #overview {
            padding: 10px 0 10px 0;

            h1 {
                margin-top: 0;
            }

            #report {
                padding-left: 2px;
            }
        }

        #articles {
            padding: 10px 0 10px 0;

            #sortOptions {
                padding-left: 2px;
                -webkit-touch-callout: none; /* iOS Safari */
                -webkit-user-select: none; /* Safari */
                -khtml-user-select: none; /* Konqueror HTML */
                -moz-user-select: none; /* Firefox */
                -ms-user-select: none; /* Internet Explorer/Edge */
                user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */

                #sortByDateAsc,
                #sortByTitleAsc,
                #sortByDescriptionAsc {
                    cursor: pointer;
                }

                #sortByDateDesc,
                #sortByTitleDesc,
                #sortByDescriptionDesc {
                    display: none;
                    cursor: pointer;
                }  
            }

            #content {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                padding-left: 2px;
        
                li {
                    position: relative;
                    background-color:#F0FFFF;
                    margin: 14px 14px 0 0;
                    max-width: 300px;
                    padding: 0 0 15px 0;
                    border: 1px solid rgba(0,0,0,0.3);
                    -webkit-border-radius: 6px;
                    -moz-border-radius: 6px;
                    border-radius: 6px;
                    -webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.7);
                    -moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.7);
                    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.7);
        
                    .thumbnailBox {
                        border-top-left-radius: 5px;
                        border-top-right-radius: 5px;
                        overflow: hidden;

                        img {
                            width: 100%;
                        }
                    }

                    .dateBox {
                        position: absolute;
                        width: 100%;
                        font-size: 12px;
                        text-align: right;
                        color: white;
                        padding: 3px 7px 2px 0;
                        background-color: #FF4040;
                        border-top-right-radius: 5px;
                        border-top-left-radius: 5px;
                        -webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.7);
                        -moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.7);
                        box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.2);
                    }
        
                    .titleBox {
                        padding: 15px 15px 0 15px;
                        font-weight: 700;

                        a {
                            color: black;
                            text-decoration: none;
                        }
                    }
        
                    .descriptionBox {
                        padding: 5px 15px 0 15px;
                    }
                }
            }
        }  
    }
}

